/*!
Theme Name: AR-2017
Theme URI: http://underscores.me/
Author: CIFOR web team
Author URI: https://github.com/CIFORforests
Description: Cifor Annual-report
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: annual-report
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready
*/


/*!
 * Load Awesome v1.1.0 (http://github.danielcardoso.net/load-awesome/)
 * Copyright 2015 Daniel Cardoso <@DanielCardoso>
 * Licensed under MIT
 */
 .la-ball-scale-pulse,
 .la-ball-scale-pulse > div {
	 position: relative;
	 -webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
			 box-sizing: border-box;
 }
 .la-ball-scale-pulse {
	 display: block;
	 font-size: 0;
	 color: #fff;
 }
 .la-ball-scale-pulse.la-dark {
	 color: #333;
 }
 .la-ball-scale-pulse > div {
	 display: inline-block;
	 float: none;
	 background-color: currentColor;
	 border: 0 solid currentColor;
 }
 .la-ball-scale-pulse {
	 width: 32px;
	 height: 32px;
 }
 .la-ball-scale-pulse > div {
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 32px;
	 height: 32px;
	 border-radius: 100%;
	 opacity: .5;
	 -webkit-animation: ball-scale-pulse 2s infinite ease-in-out;
		-moz-animation: ball-scale-pulse 2s infinite ease-in-out;
		  -o-animation: ball-scale-pulse 2s infinite ease-in-out;
			 animation: ball-scale-pulse 2s infinite ease-in-out;
 }
 .la-ball-scale-pulse > div:last-child {
	 -webkit-animation-delay: -1.0s;
		-moz-animation-delay: -1.0s;
		  -o-animation-delay: -1.0s;
			 animation-delay: -1.0s;
 }
 .la-ball-scale-pulse.la-sm {
	 width: 16px;
	 height: 16px;
 }
 .la-ball-scale-pulse.la-sm > div {
	 width: 16px;
	 height: 16px;
 }
 .la-ball-scale-pulse.la-2x {
	 width: 64px;
	 height: 64px;
 }
 .la-ball-scale-pulse.la-2x > div {
	 width: 64px;
	 height: 64px;
 }
 .la-ball-scale-pulse.la-3x {
	 width: 96px;
	 height: 96px;
 }
 .la-ball-scale-pulse.la-3x > div {
	 width: 96px;
	 height: 96px;
 }
 /*
  * Animation
  */
 @-webkit-keyframes ball-scale-pulse {
	 0%,
	 100% {
		 -webkit-transform: scale(0);
				 transform: scale(0);
	 }
	 50% {
		 -webkit-transform: scale(1);
				 transform: scale(1);
	 }
 }
 @-moz-keyframes ball-scale-pulse {
	 0%,
	 100% {
		 -moz-transform: scale(0);
			  transform: scale(0);
	 }
	 50% {
		 -moz-transform: scale(1);
			  transform: scale(1);
	 }
 }
 @-o-keyframes ball-scale-pulse {
	 0%,
	 100% {
		 -o-transform: scale(0);
			transform: scale(0);
	 }
	 50% {
		 -o-transform: scale(1);
			transform: scale(1);
	 }
 }
 @keyframes ball-scale-pulse {
	 0%,
	 100% {
		 -webkit-transform: scale(0);
			-moz-transform: scale(0);
			  -o-transform: scale(0);
				 transform: scale(0);
	 }
	 50% {
		 -webkit-transform: scale(1);
			-moz-transform: scale(1);
			  -o-transform: scale(1);
				 transform: scale(1);
	 }
 }


 /* header */
.admin-bar .fmenu-btn,
.admin-bar .button-logo-container,
.admin-bar .download-pdf-link-wrapper,
.admin-bar .is-sticky #sticknav{
	top: 32px !important;
}
.admin-bar .is-sticky #sticknav .fmenu-btn,
.admin-bar .is-sticky #sticknav .button-logo-container,
.admin-bar .is-sticky #sticknav .download-pdf-link-wrapper{
	top:0 !important;
}

.left-menu {
	padding: 120px 30px 10px 30px;
}
/*
.is-sticky .button-logo-container {
    width: 70px !important;
}
.button-logo-container{
	width:90px !important;
}
*/
.panels-section li, .panels-section li.active {
    top: -50px !important;
    left: 120px !important;
}

 .mainfixed-menu.hide{
	display: none;
 }


 div.close {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: 1;
    background: #000000;
    height: 66px;
    width: 66px;
	padding-top: 9px;
	cursor: pointer;
}


.freeze {
    overflow: hidden;
}

 /* popup css */
 .single-page.popup.active{
	 display: block;
 }
 .single-hero-img{
	 max-height:395px;
	 overflow:hidden;
	 background: #38413F;
 }
 .single-hero-img img{
	width:100%;
}
 .left-cs{
	 max-width: 72%;
	 width:72%;
 }
 .right-cs{
	 max-width: 28%;
	 width:28%;
 }

 .left-cs.fullwidth{
	 width:100%;
	 max-width: 100%;
 }

/* .image-wrap_popup{
	max-height:170px;
	overflow: hidden;
} */
.image-wrap_popup img{
	width:100%;
	height:auto;
}
 /* loading animate */
 .loading-animate{
	display: none;
    position: fixed;
    z-index: 999999;
    width: 100%;
    height: 100%;
    background: rgba(000,000,000,0.8);
    text-align: center;
}
.la-ball-scale-pulse.la-3x{
	top:40vh;
    margin: 0 auto;
}

/* sidget sidebar */
.right-cs .widget{
	width:80% !important;
}
.widget-wrap-dark{
	padding-top: 30px !important;
	padding-bottom: 30px !important;
}
.widget-wrap-dark .widget{
	margin-bottom:0px;
}
.widget.widget-image{
	width:100% !important;
}
.widget h4{
	color:#4c4c4c !important
}
.m-section-dark .widget  h4{
	color:#ffffff !important;
}
.widget h6 span{
	font-family: "brandon_textmedium", Arial, sans-serif;
	opacity: 0.5;
	text-transform: uppercase;
}
.widget h6{
	font-family: "brandon_textmedium", Arial, sans-serif;
	opacity: 1;
	text-transform: normal;
	overflow-wrap: break-word;
	word-wrap: break-word;
	hyphens: auto;
}
.widget img{
	padding-left: 0px;
	margin-bottom: 0px;
}

aside.box-content {
    margin-top: 5px;
    /* margin-left: -80px; */
    width: 100%;
    margin-right: 43px;
    font-size: 0.8em;
    line-height: 1.6em;
    background: #9ce4a338;
	padding: 30px;
	display: block;
	
}

.ar-flexbox .ar-col-f{
	position:relative;
}
.ar-flexbox.single-pillar .ar-col-f::before,
.ar-flexbox.single-pillar.two-links .ar-col-f .flexb-title-wrap::before{
	content:' ';
	position: absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7cd685+14,7cd685+36,7cd685+57,7cd685+57,40c1c0+85&0+0,1+100 */
	background: -moz-linear-gradient(top,  rgba(124,214,133,0) 0%, rgba(124,214,133,0.14) 14%, rgba(124,214,133,0.36) 36%, rgba(124,214,133,0.57) 57%, rgba(64,193,192,0.85) 85%, rgba(64,193,192,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(124,214,133,0) 0%,rgba(124,214,133,0.14) 14%,rgba(124,214,133,0.36) 36%,rgba(124,214,133,0.57) 57%,rgba(64,193,192,0.85) 85%,rgba(64,193,192,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(124,214,133,0) 0%,rgba(124,214,133,0.14) 14%,rgba(124,214,133,0.36) 36%,rgba(124,214,133,0.57) 57%,rgba(64,193,192,0.85) 85%,rgba(64,193,192,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007cd685', endColorstr='#40c1c0',GradientType=0 ); /* IE6-9 */

}

.ar-flexbox.single-pillar .ar-col-f .flexb-title-wrap {
    padding: 30px;
    height: 150px;
    vertical-align: baseline;
    position: relative;
}

.ar-flexbox.single-pillar .ar-col-f .flexb-title-wrap  h4{
	position: absolute;
    bottom: 10px;
    height: auto;
}

#main-slider .text-wrapper {
    margin-bottom: 90px;
}

.link-icon.icon-glf{
	background-image: none;
}
.link-icon.icon-glf img {
	position: absolute;
	top: 43%;
}
.flexb-title-wrap .link-content.title-glf{
	padding: 64px 30px 50px 30px;
}

.ar-flexbox .ar-col-f{
	background: transparent;
}
#triangle-up {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 26px solid #edf9f8;
    position: absolute;
    top: -25px;
}

.image-wrap_popup.image-publication{
	text-align:left;
}
/* .image-wrap_popup.image-publication img{
	max-width:135px;
	float:left;
} */
/* .section-publication .single-item a.link-image{
	float:left;
}
.section-publication .single-item .flexb-title-wrap{
	float:left;
	max-width:300px;
} */
.section-publication a.link-image img{
	float:left;
	max-width:30%;
}
.section-publication .flexb-title-wrap{
	float:left;
	max-width:70%;
	padding:0px 20px 20px 20px;
}


.section-video .flexb-title-wrap,
.section-blog .flexb-title-wrap,
.section-presentation .flexb-title-wrap{
	padding:20px 20px 20px 0px;
}

.pillar-infographics{
	text-align: center;
}
.pillar-infographics img{
	max-width: 80%;
}

.pic-caption {
    width: 28%;
    background-image: none;
    background-color: rgba(0, 0, 0, 0.78);
}

.m-section-green {
    background: #26B8AA;
    color: #ffffff;
}
.m-section-green a {
    color: #eaf9eb;
}

.m-section-green .widget h4 {
    color: #FFFFFF !important;
}

/* .row-eq-height.pillar-nm .col-md-4.col-md-pull-8, .row-eq-height.pillar-nm .col-md-4 {
    background: #f6ffff;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
} */
