a {
    padding: 0;
    -webkit-transition: color .1s ease-in-out, border .1s ease-in-out;
    -moz-transition: color .1s ease-in-out, border .1s ease-in-out;
    -ms-transition: color .1s ease-in-out, border .1s ease-in-out;
    -o-transition: color .1s ease-in-out, border .1s ease-in-out;
    transition: color .1s ease-in-out, border .1s ease-in-out;
    text-decoration: none
}

a:focus {
    outline: none;
    text-decoration: none;
}

a:active,
a:hover {
    outline: 0;
    text-decoration: none
}

p {
    padding-bottom: 0;
    margin-bottom: 20px;
    margin-top: 0;
}

img {
    border: 0;
    max-width: 100%;
}

.img-rounded {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.img-circle {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 0;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0;
    padding: 0;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}

/* ==========================================================================
   Heading style
   ========================================================================== */

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0 0 15px;
    line-height: 100%;
    font-weight: 400;
    letter-spacing: 0;
    font-family: "brandon_grotesquemedium", Arial, sans-serif;
}

.h1, h1 {
    font-size: 50px;
    line-height: 1em;
    margin-bottom: 7px;
    font-weight: 300;
    letter-spacing: -1px
}

.h2, h2 {
    font-size: 30px;
    line-height: 1.2em;
    margin-bottom: 10px;
}

.h3, h3 {
    font-size: 26px;
    line-height: 1.2em;
    margin-bottom: 10px;
}

.h4, h4 {
    font-size: 20px;
    line-height: 1.3em;
    margin-bottom: 10px;
}

.h5, h5 {
    font-size: 16px;
    line-height: 1.3em;
    margin-bottom: 10px;
}

.h6, h6 {
    font-size: 14px;
    line-height: 1.3em;
    margin-bottom: 10px;
    font-weight: 600
}

.m-section {
    position: relative;
}

.m-section-dark h1, .m-section-dark .h1, .m-section-dark h2, .m-section-dark .h2, .m-section-dark h3, .m-section-dark .h3,
.m-section-dark h4, .m-section-dark .h4, .m-section-dark h5, .m-section-dark .h5, .m-section-dark h6, .m-section-dark .h6 {
    color: #FFFFFF;
}

.m-section-dark a {
    color: #CBCBCB;
}

.m-section-dark a.btn {
    color: #ffffff;
}

.m-section-dark a:hover {
    color: #858585;
}

.m-section-dark a.btn:hover {
    color: #ffffff;
}

.m-section-white .m-link-dark {
    color: #414141;
}

.m-section-light-green .m-link-dark {
    color: #191919;
}

.m-section-grey .m-link-dark {
    color: #414141;
}

.m-section-parallax .m-link-white, .m-section-split .m-link-white {
    color: #FFFFFF;
}

.m-section-theme, .m-section-theme h1, .m-section-theme .h1, .m-section-theme h2, .m-section-theme .h2, .m-section-theme h3, .m-section-theme .h3,
.m-section-theme h4, .m-section-theme .h4, .m-section-theme h5, .m-section-theme .h5, .m-section-theme h6, .m-section-theme .h6,
.m-section-theme h1, .m-section-theme .h1, .m-section-theme h2, .m-section-theme .h2, .m-section-theme h3, .m-section-theme .h3,
.m-section-theme h4, .m-section-theme .h4, .m-section-theme h5, .m-section-theme .h5, .m-section-theme h6, .m-section-theme .h6,
.m-section-theme p, .m-section-split, .m-section-split h1, .m-section-split .h1, .m-section-split h2, .m-section-split .h2, .m-section-split h3, .m-section-split .h3,
.m-section-split h4, .m-section-split .h4, .m-section-split h5, .m-section-split .h5, .m-section-split h6, .m-section-split .h6,
.m-section-split h1, .m-section-split .h1, .m-section-split h2, .m-section-split .h2, .m-section-split h3, .m-section-split .h3,
.m-section-theme h4, .m-section-split .h4, .m-section-split h5, .m-section-split .h5, .m-section-split h6, .m-section-split .h6,
.m-section-split p {
    color: #FFFFFF;
}

.m-section-white h1, .m-section-white .h1, .m-section-white h2, .m-section-white .h2, .m-section-white h3,
.m-section-white .h3, .m-section-white h4, .m-section-white .h4, .m-section-white h5, .m-section-white .h5,
.m-section-white h6, .m-section-white .h6, .m-section-grey h1, .m-section-grey .h1, .m-section-grey h2, .m-section-grey .h2, .m-section-grey h3,
.m-section-grey .h3, .m-section-grey h4, .m-section-grey .h4, .m-section-grey h5, .m-section-grey .h5,
.m-section-grey h6, .m-section-grey .h6 {
    color: #313131;
}

.m-section-light-blue h1, .m-section-light-blue .h1, .m-section-light-blue h2, .m-section-light-blue .h2, .m-section-light-blue h3,
.m-section-light-blue .h3, .m-section-light-blue h4, .m-section-light-blue .h4, .m-section-light-blue h5, .m-section-light-blue .h5,
.m-section-light-blue h6, .m-section-light-blue .h6, .m-section-light-blue h1, .m-section-light-blue .h1, .m-section-light-blue h2, .m-section-light-blue .h2, .m-section-light-blue h3,
.m-section-light-blue .h3, .m-section-light-blue h4, .m-section-light-blue .h4, .m-section-light-blue h5, .m-section-light-blue .h5,
.m-section-light-blue h6, .m-section-light-blue .h6 {
    color: #313131;
}

.m-circle {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

}

.lead-10 {
    font-size: 10px;
    line-height: normal;
}

.lead-11 {
    font-size: 11px;
    line-height: normal;
}

.lead-12 {
    font-size: 12px;
    line-height: 1.3em;
}

.lead-13 {
    font-size: 13px;
    line-height: 1.3em;
}

.lead-14 {
    font-size: 14px;
    line-height: 1.6em;
}

.lead-16 {
    font-size: 16px;
    line-height: 1.5em;
}

.lead-18 {
    font-size: 18px;
    line-height: 1.6em;
}

.lead-20 {
    font-size: 20px;
    line-height: 1.4em;
}

.lead-22 {
    font-size: 22px;
    line-height: 1.5em;
    font-weight: 300;
}

.lead-24 {
    font-size: 24px;
    line-height: 1.2em;
    font-weight: 300;
}

.lead-26 {
    font-size: 26px;
    line-height: 1.2em;
    font-weight: 300;
}

.lead-28 {
    font-size: 26px;
    line-height: 1.2em;
    font-weight: 300;
}

.lead-30 {
    font-size: 30px;
    line-height: 1.2em;
    font-weight: 300;
}

.lead-32 {
    font-size: 32px;
    line-height: 1.2em;
    font-weight: 300;
}

.lead-34 {
    font-size: 34px;
    line-height: 1.3em;
    font-weight: 300;
}

.lead-36 {
    font-size: 36px;
    line-height: 1.3em;
    font-weight: 300;
}

.lead-38 {
    font-size: 38px;
    line-height: 1.3em;
    font-weight: 300;
}

.lead-40 {
    font-size: 40px;
    line-height: 1.3em;
    font-weight: 300;
}

.lead-42 {
    font-size: 42px;
    line-height: 1.3em;
    font-weight: 300;
}

.lead-44 {
    font-size: 44px;
    line-height: 1.3em;
    font-weight: 300;
}

.lead-72 {
    font-size: 72px;
    line-height: 1.3em;
}

.lead-98 {
    font-size: 98px;
    line-height: 1.3em;
    font-weight: 300;
}

.m-404 {
    color: #333333;
    font-size: 171px;
    line-height: 162px;
}

.m-uppercase {
    text-transform: uppercase;
}

.m-head-title {
    margin-bottom: 25px;
}

.m-weight-300 {
    font-weight: 300 !important;
}

.m-weight-400 {
    font-weight: 400 !important;
}

.m-weight-600 {
    font-weight: 600 !important;
}

.m-weight-700 {
    font-weight: 700 !important;
}

.m-weight-800 {
    font-weight: 800 !important;
}

.m-weight-900 {
    font-weight: 900 !important;
}

.m-letter-spacing {
    letter-spacing: 1px;
}

.m-letter-spacing-2 {
    letter-spacing: 2px;
}

.m-letter-spacing-3 {
    letter-spacing: 3px;
}

.m-letter-spacing-4 {
    letter-spacing: 4px;
}

.m-opacity-25 {
    opacity: 0.25;
}

.m-opacity-50 {
    opacity: 0.5;
}

.m-opacity-70 {
    opacity: 0.7;
}

.m-text-white {
    color: #FFFFFF;
}

ol {
    padding-left: 1.6em;
}

ul, ol, dl {
    margin-bottom: 15px;
    padding-bottom: 0;
    padding-left: 1.2em;
    margin-top: 15px;
}

ul li, ol li, dl li {
    margin: 3px 0;
}

/* Text background */

.label {
    background: #666e70;
}

.label-blue {
    background-color: #3bb2d0;
}

.label-green {
    background-color: #6f9a37;
}

.label-yellow {
    background-color: #f1c40f;
}

.label-red {
    background-color: #da3618;
}

/* Section style */
.m-bg-white {
    background: #FFFFFF;
}

.m-section-grey {
    background: #E3E3E3;
}

.m-section-theme {
    background: #f7f7f7;
}

.m-section-dark {
    background: #38413F;
    color: #F4F4F4;
}

.m-section-dark-gray {
    background: #444444;
}

.m-padding-top-5 {
    padding-top: 5px !important;
}

.m-padding-top-10 {
    padding-top: 10px !important;
}

.m-padding-top-15 {
    padding-top: 15px !important;
}

.m-padding-top-20 {
    padding-top: 20px !important;
}

.m-padding-top-30 {
    padding-top: 30px !important;
}

.m-padding-top-40 {
    padding-top: 40px !important;
}

.m-padding-top-50 {
    padding-top: 50px !important;
}

.m-padding-top-60 {
    padding-top: 60px !important;
}

.m-padding-top-70 {
    padding-top: 80px !important;
}

.m-padding-top-80 {
    padding-top: 80px !important;
}

.m-padding-top-90 {
    padding-top: 90px !important;
}

.m-padding-top-100 {
    padding-top: 100px !important;
}

.m-padding-top-110 {
    padding-top: 110px !important;
}

.m-padding-top-120 {
    padding-top: 120px !important;
}

.m-padding-top-130 {
    padding-top: 130px !important;
}

.m-padding-top-130 {
    padding-top: 130px !important;
}

.m-padding-top-140 {
    padding-top: 140px !important;
}

.m-padding-top-150 {
    padding-top: 150px !important;
}

.m-padding-top-160 {
    padding-top: 160px !important;
}

.m-padding-top-170 {
    padding-top: 170px !important;
}

.m-padding-top-180 {
    padding-top: 180px !important;
}

.m-padding-top-190 {
    padding-top: 190px !important;
}

.m-padding-top-200 {
    padding-top: 200px !important;
}

.m-padding-top-210 {
    padding-top: 210px !important;
}

.m-padding-bottom-10 {
    padding-bottom: 10px !important;
}

.m-padding-bottom-15 {
    padding-bottom: 15px !important;
}

.m-padding-bottom-20 {
    padding-bottom: 20px !important;
}

.m-padding-bottom-30 {
    padding-bottom: 30px !important;
}

.m-padding-bottom-40 {
    padding-bottom: 40px !important;
}

.m-padding-bottom-50 {
    padding-bottom: 50px !important;
}

.m-padding-bottom-60 {
    padding-bottom: 60px !important;
}

.m-padding-bottom-70 {
    padding-bottom: 70px !important;
}

.m-padding-bottom-80 {
    padding-bottom: 80px !important;
}

.m-padding-bottom-90 {
    padding-bottom: 90px !important;
}

.m-padding-bottom-100 {
    padding-bottom: 100px !important;
}

.m-padding-bottom-110 {
    padding-bottom: 110px !important;
}

.m-padding-bottom-120,
.m-padding-top-bottom-120 {
    padding-bottom: 120px !important;
}

.m-padding-bottom-130 {
    padding-bottom: 130px !important;
}

.m-padding-bottom-140 {
    padding-bottom: 140px !important;
}

.m-padding-bottom-150 {
    padding-bottom: 150px !important;
}

.m-padding-bottom-160 {
    padding-bottom: 160px !important;
}

.m-padding-bottom-170 {
    padding-bottom: 170px !important;
}

.m-padding-bottom-180 {
    padding-bottom: 180px !important;
}

.m-padding-bottom-190 {
    padding-bottom: 190px !important;
}

.m-padding-bottom-200 {
    padding-bottom: 200px !important;
}

.m-margin-top-min-15 {
    margin-top: -15px !important;
}

.m-margin-top-min-10 {
    margin-top: -10px !important;
}

.m-margin-top-min-5 {
    margin-top: -5px !important;
}

.m-margin-top-0 {
    margin-top: 0 !important;
}

.m-margin-top-5 {
    margin-top: 5px !important;
}

.m-margin-top-10 {
    margin-top: 10px !important;
}

.m-margin-top-15 {
    margin-top: 15px !important;
}

.m-margin-top-20 {
    margin-top: 20px !important;
}

.m-margin-top-25 {
    margin-top: 25px !important;
}

.m-margin-top-30 {
    margin-top: 30px !important;
}

.m-margin-top-40 {
    margin-top: 40px !important;
}

.m-margin-top-50 {
    margin-top: 50px !important;
}

.m-margin-bottom-0 {
    margin-bottom: 0 !important;
}

.m-margin-bottom-5 {
    margin-bottom: 5px !important;
}

.m-margin-bottom-10 {
    margin-bottom: 10px !important;
}

.m-margin-bottom-15 {
    margin-bottom: 15px !important;
}

.m-margin-bottom-20 {
    margin-bottom: 20px !important;
}

.m-margin-bottom-25 {
    margin-bottom: 25px !important;
}

.m-margin-bottom-30 {
    margin-bottom: 30px !important;
}

.m-margin-bottom-35 {
    margin-bottom: 35px !important;
}

.m-margin-bottom-40 {
    margin-bottom: 40px !important;
}

.m-margin-bottom-50 {
    margin-bottom: 50px !important;
}

.m-margin-bottom-60 {
    margin-bottom: 60px !important;
}

.m-margin-bottom-70 {
    margin-bottom: 70px !important;
}

.m-margin-bottom-80 {
    margin-bottom: 80px !important;
}

.m-margin-bottom-90 {
    margin-bottom: 90px !important;
}

.m-margin-bottom-100 {
    margin-bottom: 100px !important;
}

.m-margin-left-20 {
    margin-left: 20px !important;
}

.m-width-80 {
    width: 80%;
    margin: auto;
}

.m-width-90 {
    width: 90%;
    margin: auto;
}

.m-width-100 {
    width: 100% !important;
}

.m-width-98 {
    width: 98%;
    margin: auto;
}

.m-width-90 {
    width: 90%;
    margin: auto;
}

/* Set global width */

.container {
    padding-left: 30px;
    padding-right: 30px;
}

/* ==========================================================================
   Header style
   ========================================================================== */
.navigation-header {
    background: #eaeaea;
}

.full-header {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}

.m-section-parallax {
    background-position: center 0%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    width: 100%;
    height: 100%;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    vertical-align: middle;
    z-index: 1;
}

.parallax-overlay {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.slide-cover {
    padding-top: 160px;
}

.top-bar {
    background: rgba(0, 0, 0, .1);
}

.top-language, .top-jumpbar {
    display: inline-block;
    font-size: 12px;
    padding: 8px 0;
    text-transform: uppercase;
}

.top-jumpbar {
    float: right;
}

.top-language li {
    margin-right: 10px;
}

.top-jumpbar li {
    margin-left: 10px;
}

.top-language li, .top-jumpbar li {
    display: inline-block;
}

.top-language li.current a {
    color: #484848;
}

.inner-line {
    border-top: 1px solid rgba(255, 255, 255, 0.4);
}

.menu, .social-icons {
    display: inline-block;
    padding: 0;
    margin: 0;
}

/* Social style */

.social-icons {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 0;
    font-size: 0;
    /*	letter-spacing:-1px;*/

    -webkit-transition: margin-top 0.1s ease-in-out 0s;
    -moz-transition: margin-top 0.1s ease-in-out 0s;
    -ms-transition: margin-top 0.1s ease-in-out 0s;
    -o-transition: margin-top 0.1s ease-in-out 0s;
    transition: margin-top 0.1s ease-in-out 0s;
    -webkit-padding-start: 0;
}

.social-icons li {
    display: inline-block;
    font-size: 14px;
    letter-spacing: normal;
    line-height: normal;
    margin: 0 8px 8px 0;
    vertical-align: middle;
}

.social-icons li:last-child {
    margin-right: 0;
}

.m-section-white .social-icons li a {
    background: #F2F2F2;
    color: #696969;
}

.m-section-base .social-icons li a {
    background: #eef1f1;
    color: #696969;
}

.m-section-dark .social-icons li a {
    background: #eef1f1;
    color: #e7e7e7;
}

.m-section-white .social-icons.si-colored li a {
    color: #FFFFFF;
}

.m-section-white .social-icons.si-outline li a {
    background: rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 1px;
    border-color: #969696;
}

.m-section-base .social-icons.si-outline li a {
    background: rgba(0, 0, 0, 0);
    color: #FFFFFF;
    border-color: #FFFFFF;
    border-style: solid;
    border-width: 1px;
}

.m-section.full-header .social-icons.si-outline li a {
    background: rgba(0, 0, 0, 0);
    color: #FFFFFF;
    border-color: #FFFFFF;
    border-style: solid;
    border-width: 1px;
}

.m-section-dark .social-icons.si-outline li a {
    background: rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 1px;
    border-color: #969696;
}

.m-section-white .social-icons li a:hover, .m-section-base .social-icons li a:hover, .m-section-dark .social-icons li a:hover, .m-section.full-header .social-icons li a:hover {
    background: #0dc0c0;
    color: #ffffff;
    border-color: rgba(0, 0, 0, 0);
}

.social-icons.si-circle li a {
    border-radius: 50%;
}

.social-icons li a {
    display: block;
    position: relative;
    border-width: 0;
    border-radius: 2px;
    font-size: 18px;
    width: 42px;
    height: 42px;
    -webkit-transition: all 0.1s ease-in-out 0s;
    -moz-transition: all 0.1s ease-in-out 0s;
    -ms-transition: all 0.1s ease-in-out 0s;
    -o-transition: all 0.1s ease-in-out 0s;
    transition: all 0.1s ease-in-out 0s;
}

.social-icons li a i {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 42px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    -webkit-transition: top 0.1s ease-in-out 0s;
    -moz-transition: top 0.1s ease-in-out 0s;
    -ms-transition: top 0.1s ease-in-out 0s;
    -o-transition: top 0.1s ease-in-out 0s;
    transition: top 0.1s ease-in-out 0s;
}

.social-icons.si-small li a {
    font-size: 14px;
    height: 32px;
    width: 32px;
}

.social-icons.si-small li a i {
    height: 32px;
    line-height: 32px;
    width: 32px;
}

.social-icons li a i:first-child {
    top: -42px;
}

.social-icons li a:hover i:last-child {
    top: 42px;
}

.social-icons li a:hover i:first-child, .social-icons li a:hover i:first-child, .social-icons li a:hover i:first-child {
    top: 0;
}

.social-icons a, .social-icons a:hover {
    text-decoration: none;
    border: 0;
    overflow: hidden;
}

.social-icons.si-has-color li a.social-icon-rss:hover, .social-icons.si-colored li a.social-icon-rss {
    background: #ea6d19 !important;
}

.social-icons.si-has-color li a.social-icon-google-plus:hover, .social-icons.si-colored li a.social-icon-google-plus {
    background: #dd4b39 !important;
}

.social-icons.si-has-color li a.social-icon-github:hover, .social-icons.si-colored li a.social-icon-github {
    background: #1E1D1D !important;
}

.social-icons.si-has-color li a.social-icon-linkedin:hover, .social-icons.si-colored li a.social-icon-linkedin {
    background: #0a6594 !important;
}

.social-icons.si-has-color li a.social-icon-instagram:hover, .social-icons.si-colored li a.social-icon-instagram {
    background: #734A36 !important;
}

.social-icons.si-has-color li a.social-icon-maxcdn:hover, .social-icons.si-colored li a.social-icon-maxcdn {
    background: #F5AD35 !important;
}

.social-icons.si-has-color li a.social-icon-renren:hover, .social-icons.si-colored li a.social-icon-renren {
    background: #005CA8 !important;
}

.social-icons.si-has-color li a.social-icon-trello:hover, .social-icons.si-colored li a.social-icon-trello {
    background: #216884 !important;
}

.social-icons.si-has-color li a.social-icon-stack-overflow:hover, .social-icons.si-colored li a.social-icon-stack-overflow {
    background: #F47A20 !important;
}

.social-icons.si-has-color li a.social-icon-weibo:hover, .social-icons.si-colored li a.social-icon-weibo {
    background: #D52B2B !important;
}

.social-icons.si-has-color li a.social-icon-foursquare:hover, .social-icons.si-colored li a.social-icon-foursquare {
    background: #239BCF !important;
}

.social-icons.si-has-color li a.social-icon-gittip:hover, .social-icons.si-colored li a.social-icon-gittip {
    background: #634B3F !important;
}

.social-icons.si-has-color li a.social-icon-pagelines:hover, .social-icons.si-colored li a.social-icon-pagelines {
    background: #1563B2 !important;
}

.social-icons.si-has-color li a.social-icon-skype:hover, .social-icons.si-colored li a.social-icon-skype {
    background: #01ADED !important;
}

.social-icons.si-has-color li a.social-icon-vimeo-square:hover, .social-icons.si-colored li a.social-icon-vimeo-square {
    background: #1BB6EC !important;
}

.social-icons.si-has-color li a.social-icon-youtube:hover, .social-icons.si-colored li a.social-icon-youtube {
    background: #DE2825 !important;
}

.social-icons.si-has-color li a.social-icon-bitcoin:hover, .social-icons.si-colored li a.social-icon-bitcoin {
    background: #F7931A !important;
}

.social-icons.si-has-color li a.social-icon-dropbox:hover, .social-icons.si-colored li a.social-icon-dropbox {
    background: #007EE6 !important;
}

.social-icons.si-has-color li a.social-icon-pinterest:hover, .social-icons.si-colored li a.social-icon-pinterest {
    background: #CF0805 !important;
}

.social-icons.si-has-color li a.social-icon-stack-exchange:hover, .social-icons.si-colored li a.social-icon-stack-exchange {
    background: #225396 !important;
}

.social-icons.si-has-color li a.social-icon-tumblr:hover, .social-icons.si-colored li a.social-icon-tumblr {
    background: #34465D !important;
}

.social-icons.si-has-color li a.social-icon-xing:hover, .social-icons.si-colored li a.social-icon-xing {
    background: #005D5D !important;
}

.social-icons.si-has-color li a.social-icon-flickr:hover, .social-icons.si-colored li a.social-icon-flickr {
    background: #FF0084 !important;
}

.social-icons.si-has-color li a.social-icon-bitbucket:hover, .social-icons.si-colored li a.social-icon-bitbucket {
    background: #1F5182 !important;
}

.social-icons.si-has-color li a.social-icon-facebook:hover, .social-icons.si-colored li a.social-icon-facebook {
    background: #3C5A98 !important;
}

.social-icons.si-has-color li a.social-icon-twitter:hover, .social-icons.si-colored li a.social-icon-twitter {
    background: #1AB2E8 !important;
}

.social-icons.si-has-color li a.social-icon-dribbble:hover, .social-icons.si-colored li a.social-icon-dribbble {
    background: #E04C86 !important;
}

.social-icons.si-has-color li a.social-icon-yelp:hover, .social-icons.si-colored li a.social-icon-yelp {
    background: #BF2519 !important;
}

.social-icons.si-has-color li a.social-icon-download:hover, .social-icons.si-colored li a.social-icon-download {
    background: #ea6d19 !important;
}

/* ==========================================================================
   Main slider style
   ========================================================================== */

#main-slider .carousel-inner img {
    width: 100%;
}

/* Transparent background image pattern overlay */
#main-slider .slides li:after {
    content: "";
    background: url(../img/pattern_dark.png) repeat;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 2;
}

.flexslider .slides > li {
    background-position: center top;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-backface-visibility: visible;
    margin: 0;
}

.carousel li {
    margin: 0 2px;
}

.main-slider h1, .main-slider .h1, .main-slider h2, .main-slider .h2, .main-slider h3,
.main-slider .h3, .main-slider h4, .main-slider .h4, .main-slider h5, .main-slider .h5,
.main-slider h6, .main-slider .h6 {
    color: #FFFFFF;
}

.carousel-indicators .active {
    height: 10px;
    width: 10px;
}

.flex-caption {
    color: #ffffff;
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 3;
}

.flex-content {
    display: table;
    height: 100%;
}

.flex-caption .btn + .btn, .home-container .btn + .btn, .slide-service .btn + .btn {
    margin-left: 125px;
}

.flex-content-cell {
    display: table-cell;
    vertical-align: middle;
}

.miombo-header span {
    color: #666666;
    display: inline-block;
    font-size: 37px;
    font-weight: 300;
    letter-spacing: 5px;
    margin-bottom: 10px;
    margin-top: 19px;
    padding: 0 12px;
}

.head-title {
    font-size: 60px;
    text-transform: uppercase;
    line-height: normal;
}

/* Next/prev nav style */
.car-arrow span {
    position: absolute;
    top: 50%;
    z-index: 1000;
    display: block;
    width: 100px;
    height: 100px;
    outline: none;
    text-align: left;
    cursor: pointer;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.car-arrow span.prev {
    left: 0;
}

.car-arrow span.next {
    right: 0;
}

.car-our-process .car-arrow span.prev {
    left: -140px;
}

.car-our-process .car-arrow span.next {
    right: -140px;
}

.car-arrow i {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.car-arrow span::before,
.car-arrow span::after,
.car-arrow i::before,
.car-arrow i::after {
    position: absolute;
    left: 50%;
    width: 1px;
    height: 50%;
    outline: 1px solid transparent;
    background: #919191;
    content: '';
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.car-arrow i::before,
.car-arrow i::after {
    z-index: 100;
    height: 0;
    background: #fff;
    -webkit-transition: height 0.3s, -webkit-transform 0.3s;
    transition: height 0.3s, transform 0.3s;
}

.car-arrow span::before,
.car-arrow i::before {
    top: 50%;
    -webkit-transform: translateX(-50%) rotate(-135deg);
    transform: translateX(-50%) rotate(-135deg);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
}

.car-arrow span.next::before,
.car-arrow span.next i::before {
    -webkit-transform: translateX(-50%) rotate(135deg);
    transform: translateX(-50%) rotate(135deg);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
}

.car-arrow span::after,
.car-arrow i::after {
    top: 50%;
    -webkit-transform: translateX(-50%) rotate(-45deg);
    transform: translateX(-50%) rotate(-45deg);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.car-arrow span.next::after,
.car-arrow span.next i::after {
    -webkit-transform: translateX(-50%) rotate(45deg);
    transform: translateX(-50%) rotate(45deg);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
}

.no-touch .car-arrow span:hover i::before,
.no-touch .car-arrow span:hover i::after {
    height: 50%;
}

.no-touch .car-arrow span:hover::before,
.no-touch .car-arrow span:hover i::before {
    -webkit-transform: translateX(-50%) rotate(-125deg);
    transform: translateX(-50%) rotate(-125deg);
}

.no-touch .car-arrow span.next:hover::before,
.no-touch .car-arrow span.next:hover i::before {
    -webkit-transform: translateX(-50%) rotate(125deg);
    transform: translateX(-50%) rotate(125deg);
}

.no-touch .car-arrow span:hover::after,
.no-touch .car-arrow span:hover i::after {
    -webkit-transform: translateX(-50%) rotate(-55deg);
    transform: translateX(-50%) rotate(-55deg);
}

.no-touch .car-arrow span.next:hover::after,
.no-touch .car-arrow span.next:hover i::after {
    -webkit-transform: translateX(-50%) rotate(55deg);
    transform: translateX(-50%) rotate(55deg);
}

/* Fade animation for slide items */
.flex-active-slide .effect1 {
    -webkit-animation-name: fadeInDown;
    -moz-animation-name: fadeInDown;
    -o-animation-name: fadeInDown;
    animation-name: fadeInDown;

    animation-delay: 0s; /* W3C and Opera */
    -moz-animation-delay: 0s; /* Firefox */
    -webkit-animation-delay: 0s; /* Safari and Chrome */

    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;

    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    transition: none;
}

.flex-active-slide .effect2 {
    -webkit-animation-name: fadeInDown;
    -moz-animation-name: fadeInDown;
    -o-animation-name: fadeInDown;
    animation-name: fadeInDown;

    animation-delay: 1s; /* W3C and Opera */
    -moz-animation-delay: 1s; /* Firefox */
    -webkit-animation-delay: 1s; /* Safari and Chrome */

    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;

    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    transition: none;
}

.flex-active-slide .effect3 {
    -webkit-animation-name: fadeInDown;
    -moz-animation-name: fadeInDown;
    -o-animation-name: fadeInDown;
    animation-name: fadeInDown;

    animation-delay: 2s; /* W3C and Opera */
    -moz-animation-delay: 2s; /* Firefox */
    -webkit-animation-delay: 2s; /* Safari and Chrome */

    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;

    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    transition: none;
}

.flex-active-slide .effect4 {
    -webkit-animation-name: fadeInDown;
    -moz-animation-name: fadeInDown;
    -o-animation-name: fadeInDown;
    animation-name: fadeInDown;

    animation-delay: 3s; /* W3C and Opera */
    -moz-animation-delay: 3s; /* Firefox */
    -webkit-animation-delay: 3s; /* Safari and Chrome */

    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;

    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    transition: none;
}

/* Control nav  */
.flexslider .flex-control-nav {
    bottom: 26px;
    margin-bottom: -20px;
    opacity: 0.4;
    padding: 0;
    position: relative;
    text-align: center;
    z-index: 100;
    -webkit-transition: all .3s ease;
}

.flexslider:hover .flex-control-nav {
    opacity: 1;
}

.flexslider .flex-control-nav li {
    display: inline-block;
    margin: 0 3px;
}

#main-slider .flex-direction-nav {
    display: none;
}

.flexslider .flex-control-paging li a:hover {
    cursor: pointer;
}

.flexslider .flex-control-paging li a {
    background: rgba(0, 0, 0, 0);
    border: 1px solid #ffffff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    box-shadow: none;
    display: block;
    height: 8px;
    width: 8px;
    text-indent: -9999px;
}

.flexslider .flex-control-paging li a.flex-active {
    background: #ffffff;
}

.flexslider .flex-direction-nav a {
    display: block;
}

.flexslider .flex-next,
.flexslider .flex-prev {
    font-size: 0px;
}

.flexslider .flex-prev {
    left: 5px;
}

.flexslider .flex-next {
    right: 5px;
}

.flexslider .flex-prev:hover, .flexslider .flex-next:hover {
    opacity: 0.9;
}

.flexslider .flex-next:before,
.flexslider .flex-prev:before {
    display: inline-block;
    font-family: 'FontAwesome';
    content: "\f105";
    color: white;
    font-size: 40px;
    padding-left: 10px;
}

.flexslider .flex-prev {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
}

.flexslider .flex-direction-nav a {
    width: 30px;
    height: 30px;
    margin: -15px 0 0;
    display: block;
    background: none;
    position: absolute;
    top: 50%;
    z-index: 10;
    cursor: pointer;
    text-indent: inherit;
    opacity: 0.5;
    -webkit-transition: all .3s ease;
}

.flexslider:hover .flex-direction-nav a {
    opacity: 0.9;
}

/* ==========================================================================
   Cover style
   ========================================================================== */

.home-container {
    display: table;
    width: 100%;
    height: 100%;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    vertical-align: middle;
    z-index: 1;
    position: relative;
}

.home-slide-text {
    color: #ffffff;
    display: table-cell;
    position: relative;
    vertical-align: middle;
    z-index: 3;
}

.home-bottom {
    bottom: 135px;
    left: 0;
    opacity: 0.9;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 3;
}

/* Mouse style  */

.move {
    font-size: 23px;
    padding-bottom: 15px;
}

.move > a {
    display: block;
    padding-top: 50px;
    color: #FFFFFF;
}

.mouse {
    display: block;
    width: 30px;
    height: 46px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px;
    border: 2px solid #FFFFFF;
    position: absolute;
    bottom: 40px;
    left: 50%;
    margin-left: -15px;
    z-index: 99999;
}

.move .fa-angle-down {
    -webkit-animation: mymove 2s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: 3; /* Chrome, Safari, Opera */
    animation: mymove 2s;
    animation-iteration-count: 3;
    position: relative;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    from {
        top: 0px;
    }
    to {
        top: 10px;
    }
}

@keyframes mymove {
    from {
        top: 0px;
    }
    to {
        top: 10px;
    }
}

.mouse span {
    display: block;
    margin: 6px auto;
    width: 4px;
    height: 4px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #FFFFFF;
    padding: 0;
    border: 1px solid transparent;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: scroll;
    animation-name: scroll;
}

@-webkit-keyframes scroll {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
}

@keyframes scroll {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
        transform: translateY(20px);
    }
}

/* ==========================================================================
   Table style
   ========================================================================== */
.table-bordered {
    border: none;
}

table {
    border-collapse: separate;
}

.table-bordered thead:first-child tr:first-child th:first-child, .table-bordered thead:first-child
tr:first-child td:first-child, .table-bordered tbody:first-child tr:first-child td:first-child {
    border-radius: 3px 0 0;
    border-top: 1px solid #dddddd;
}

.table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border-left: 1px solid #dddddd;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid #dddddd;
}

.table-bordered > thead > tr > th, .table-bordered > thead:first-child > tr:first-child > th {
    border-bottom: 1px solid #dddddd;
    border-right: none;
    border-top: 1px solid #dddddd;
}

.table-bordered td:last-child, .table-bordered th:last-child {
    border-right: 1px solid #dddddd;
}

.table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-bottom: 1px solid #dddddd;
    border-top: none;
}

.table > thead > tr > th {
    border-bottom: 2px solid #888787;
    vertical-align: bottom;
}

.table-bordered > caption + thead > tr:first-child > th {
    border-top: 1px solid #dddddd;
}

.table-bordered tfoot:last-child tr:last-child td:first-child, .table-bordered tbody:last-child tr:last-child td:first-child {
    border-radius: 0 0 0 3px;
}

.table-bordered tfoot:last-child tr:last-child td:last-child, .table-bordered tbody:last-child tr:last-child td:last-child {
    border-radius: 0 0 3px;
}

.table-bordered thead:first-child tr:first-child th:last-child, .table-bordered thead:first-child tr:first-child td:last-child, .table-bordered tbody:first-child tr:first-child td:last-child {
    border-radius: 0 3px 0 0;
    border-right: 1px solid #dddddd;
}

/* ==========================================================================
   Button style
   ========================================================================== */

.btn {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    line-height: 1.33;
    border: 2px solid #666666;
    transition: all 0.2s ease-in-out;
    padding: 10px 12px;
    font-family: "brandon_grotesquebold", Arial, sans-serif;
}

.btn-xs, .btn-group-xs > .btn {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 0;
}

.btn-sm, .btn-group-sm > .btn {
    padding: 6px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 0;
}

.btn-default {
    background: #5b5b5b;
    color: #FFFFFF;
    border-color: #5b5b5b;
}

.btn-primary {
    color: #FFFFFF;
}

.btn-primary:hover, .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
    color: #ffffff;
}

.btn-lg, .btn-group-lg > .btn {
    padding: 15px 26px;
}

.btn.btn-outline-inverse {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-color: #ffffff;
    color: #ffffff;
}

.btn.btn-outline-inverse:hover {
    color: #2b2b2b !important;
    background: #FFFFFF;
    border-color: #FFFFFF;
}

.btn-outline {
    background: rgba(0, 0, 0, 0);
    color: #dddddd;
    border-color: #dddddd;
}

.btn.btn-light {
    background: #DDD9D9;
    border-color: #DDD9D9;
    color: #8b8b8b;
}

.btn.btn-light:hover {
    background: #c6c6c6;
    border-color: #c6c6c6;
    color: #8b8b8b;
}

.btn.btn-outline.btn-light {
    background: rgba(0, 0, 0, 0);
    color: #8b8b8b;
    border-color: #BAB5B5;
}

.btn.btn-outline.btn-light:hover {
    color: #8b8b8b;
    background: #c6c6c6;
    border-color: #c6c6c6;
}

.btn.btn-grey {
    background: #818181;
    border-color: #818181;
}

.btn.btn-grey:hover {
    background: #515151;
    border-color: #515151;
}

.btn.btn-outline.btn-grey {
    background: rgba(0, 0, 0, 0);
    color: #818181;
}

.btn.btn-outline.btn-grey:hover {
    color: #ffffff;
    background: #515151;
}

.btn.btn-dark {
    background: #000000;
    border-color: #000000;
}

.btn.btn-dark:hover {
    background: #303030;
    border-color: #303030;
}

.btn.btn-outline.btn-dark {
    background: rgba(0, 0, 0, 0);
    color: #3D3D3D;
}

.btn.btn-outline.btn-dark:hover {
    color: #ffffff;
    background: #303030;
}

.btn.btn-dark-blue {
    background: #274976;
    border-color: #274976;
}

.btn.btn-dark-blue:hover {
    background: #1f395d;
    border-color: #1f395d;
}

.btn.btn-blue {
    background: #3bb2d0;
    border-color: #3bb2d0;
}

.btn.btn-blue:hover {
    background: #319DBB;
    border-color: #319DBB;
}

.btn.btn-outline.btn-blue {
    background: rgba(0, 0, 0, 0);
    color: #3bb2d0;
}

.btn.btn-outline.btn-blue:hover {
    color: #ffffff;
    background: #319DBB;
}

.btn.btn-green {
    background: #6f9a37;
    border-color: #6f9a37;
}

.btn.btn-green:hover {
    background: #5D8922;
    border-color: #5D8922;
}

.btn.btn-outline.btn-green {
    background: rgba(0, 0, 0, 0);
    color: #6f9a37;
}

.btn.btn-outline.btn-green:hover {
    color: #ffffff;
    background: #5D8922;
}

.btn.btn-yellow {
    background: #f1c40f;
    border-color: #f1c40f;
}

.btn.btn-yellow:hover {
    background: #d6af14;
    border-color: #d6af14;
}

.btn.btn-outline.btn-yellow {
    background: rgba(0, 0, 0, 0);
    color: #f1c40f;
}

.btn.btn-outline.btn-yellow:hover {
    color: #ffffff;
    background: #d6af14;
}

.btn.btn-orange {
    background: #FF6600;
    border-color: #FF6600;
}

.btn.btn-orange:hover {
    background: #d15a28;
    border-color: #d15a28;
}

.btn.btn-outline.btn-orange {
    background: rgba(0, 0, 0, 0);
    color: #FF6600;
}

.btn.btn-outline.btn-orange:hover {
    color: #ffffff;
    background: #d15a28;
}

.btn.btn-red {
    background: #da3618;
    border-color: #da3618;
}

.btn.btn-red:hover {
    background: #c92f13;
    border-color: #c92f13;
}

.btn.btn-outline.btn-red {
    background: rgba(0, 0, 0, 0);
    color: #da3618;
}

.btn.btn-outline.btn-red:hover {
    color: #ffffff;
    background: #c92f13;
}

.btn.btn-purple {
    background: #7e7ec1;
    border-color: #7e7ec1;
}

.btn.btn-purple:hover {
    background: #6a6aad;
    border-color: #6a6aad;
}

.btn.btn-outline.btn-purple {
    background: rgba(0, 0, 0, 0);
    color: #7e7ec1;
}

.btn.btn-outline.btn-purple:hover {
    color: #ffffff;
    background: #6a6aad;
}

/* Icon & dropcap style */
.dropcap {
    float: left;
    font-size: 45px;
    font-weight: 300;
    line-height: 100%;
    margin: 0 18px 12px 0;
}

.m-icon {
    margin-bottom: 20px;
}

.m-icon-large {
    font-size: 56px;
    height: 115px;
    line-height: 112px;
    margin-left: auto;
    margin-right: auto;
    width: 115px;
}

.m-icon-medium {
    font-size: 56px;
    height: 80px;
    width: 80px;
    color: #414141;
    font-size: 26px;
    margin-right: 20px;
    margin-top: 5px;
}

.m-icon-small {
    font-size: 26px;
    margin-right: 10px;
    margin-top: 5px;
    width: 35px;
}

.m-icon-medium-left, .m-icon-small-left {
    float: left;
}

.m-icon-box-content {
    margin-left: 46px;
}

.m-icon-box-content-circle {
    margin-left: 68px;
}

.m-icon-white {
    background: #FFFFFF;
}

.m-icon-box .m-circle, .m-icon-box .m-circle i, .m-icon-box .m-icon-dark {
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.m-icon-box .m-icon-dark {
    color: #414141;
}

.m-icon-box .m-icon-box-circle {
    font-size: 18px;
    line-height: 48px;
}

.m-icon-box-hover:hover .m-circle i {
    color: #FFFFFF;
}

.m-icon-box-circle {
    background-color: #eef1f1;
    color: #414141;
    font-size: 26px;
    height: 48px;
    line-height: 48px;
    margin-top: 6px;
    width: 48px;
    border-radius: 50%;
    text-align: center;
}

.m-icon-animate {
    padding-top: 48px;
    -webkit-transition: background-color .3s, padding .15s;
    -moz-transition: background-color .3s, padding .15s;
    -o-transition: background-color .3s, padding .15s;
    transition: background-color .3s, padding .15s;
    overflow: hidden;
    height: 312px;
}

.m-icon-animate .m-icon-title {
    margin: 0;
    padding-top: 0;
}

.m-icon-animate:focus, .m-icon-animate:hover {
    padding-top: 0;
}

.m-icon-animate .m-icon-content-box {
    -webkit-transform: translate(0, 100%);
    -moz-transform: translate(0, 100%);
    -ms-transform: translate(0, 100%);
    -o-transform: translate(0, 100%);
    transform: translate(0, 100%);
    -webkit-transition: all .15s ease-in;
    -moz-transition: all .15s ease-in;
    -o-transition: all .15s ease-in;
    transition: all .15s ease-in
}

.m-icon-animate:hover .m-icon-content-box, .m-icon-animate:focus .m-icon-content-box {
    -webkit-transform: translate(0, 19px);
    -moz-transform: translate(0, 19px);
    -ms-transform: translate(0, 19px);
    -o-transform: translate(0, 19px);
    transform: translate(0, 19px)
}

/* ==========================================================================
   Image style
   ========================================================================== */

.placeholder-img img {
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

.placeholder-img > a {
    display: inline-block;
    position: relative;
    width: 100%;
}

/* Pagination style  */
.carousel-indicators {
    bottom: -50px;
}

/* Spacer style */
.m-line-spacer, .m-line-spacer-base, .m-line-spacer-d-o, .m-line-spacer-w-o {
    margin-bottom: 25px;
    padding-bottom: 25px;
    position: relative;
}

.text-center .has-spacer:after {
    left: 50%;
    margin: 0 0 0 -30px;
}

h1.m-line-spacer:after, .h1.m-line-spacer:after, h2.m-line-spacer:after, .h2.m-line-spacer:after, h3.m-line-spacer:after,
.h3.m-line-spacer:after, h4.m-line-spacer:after, .h4.m-line-spacer:after, h5.m-line-spacer:after, .h5.m-line-spacer:after,
h6.m-line-spacer:after, .h6.m-line-spacer:after, h1.m-line-spacer-base:after, .h1.m-line-spacer-base:after,
h2.m-line-spacer-base:after, .h2.m-line-spacer-base:after, h3.m-line-spacer-base:after,
.h3.m-line-spacer-base:after, h4.m-line-spacer-base:after, .h4.m-line-spacer-base:after,
h5.m-line-spacer-base:after, .h5.m-line-spacer-base:after,
h6.m-line-spacer-base:after, .h6.m-line-spacer-base:after, .m-line-spacer:after, .m-line-spacer-base:after {
    background: #8dc63f;
    width: 60px;
    height: 2px;
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    position: absolute;
}

h1.m-line-spacer-d-o:after, .h1.m-line-spacer-d-o:after, h2.m-line-spacer-d-o:after, .h2.m-line-spacer-d-o:after, h3.m-line-spacer-d-o:after,
.h3.m-line-spacer-d-o:after, h4.m-line-spacer-d-o:after, .h4.m-line-spacer-d-o:after, h5.m-line-spacer-d-o:after, .h5.m-line-spacer-d-o:after,
h6.m-line-spacer-d-o:after, .h6.m-line-spacer-d-o:after {
    background: rgba(0, 0, 0, 0.35);
}

h1.m-line-spacer-w-o:after, .h1.m-line-spacer-w-o:after, h2.m-line-spacer-w-o:after, .h2.m-line-spacer-w-o:after, h3.m-line-spacer-w-o:after,
.h3.m-line-spacer-w-o:after, h4.m-line-spacer-w-o:after, .h4.m-line-spacer-w-o:after, h5.m-line-spacer-w-o:after, .h5.m-line-spacer-w-o:after,
h6.m-line-spacer-w-o:after, .h6.m-line-spacer-w-o:after {
    background: rgba(255, 255, 255, 0.48);
}

.m-section-dark h1.m-line-spacer:after, .m-section-dark .h1.m-line-spacer:after, .m-section-dark h2.m-line-spacer:after,
.m-section-dark .h2.m-line-spacer:after, .m-section-dark h3.m-line-spacer:after, .m-section-dark .h3.m-line-spacer:after,
.m-section-dark h4.m-line-spacer:after, .m-section-dark .h4.m-line-spacer:after, .m-section-dark h5.m-line-spacer:after,
.m-section-dark .h5.m-line-spacer:after, .m-section-dark h6.m-line-spacer:after, .m-section-dark .h6.m-line-spacer:after,
.m-section-base h1.m-line-spacer:after, .m-section-base .h1.m-line-spacer:after, .m-section-base h2.m-line-spacer:after,
.m-section-base .h2.m-line-spacer:after, .m-section-base h3.m-line-spacer:after, .m-section-base .h3.m-line-spacer:after,
.m-section-base h4.m-line-spacer:after, .m-section-base .h4.m-line-spacer:after, .m-section-base h5.m-line-spacer:after,
.m-section-base .h5.m-line-spacer:after, .m-section-base h6.m-line-spacer:after, .m-section-base .h6.m-line-spacer:after,
.m-section-dark .m-line-spacer:after, .m-section-base .m-line-spacer:after {
    background: #FFFFFF;
    width: 60px;
    height: 2px;
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    position: absolute;
}

.spacer {
    background: #cccccc;
    display: inline-block;
    height: 2px;
    margin: 22px auto 23px;
    padding: 0 12px;
    width: 100px;
}

.hidden-desktop {
    display: none;
}

/* ==========================================================================
   List icons style
   ========================================================================== */

.m-list-has-icon {
    padding-left: 0;
}

.m-list-has-icon li {
    padding-left: 22px;
    position: relative;
    list-style: none;
}

.m-list-has-icon li:after {
    color: #7b7b7b;
    display: block;
    font-family: fontawesome;
    font-size: 12px;
    left: 0;
    position: absolute;
    top: 0;
}

.m-list-icon-plus li:after {
    content: "\f067";
}

.m-list-icon-minus li:after {
    content: "\f068";
}

.m-list-icon-checked li:after {
    content: "\f00c";
}

.m-list-icon-angle-right li:after {
    content: "\f105";
    font-size: 13px;
    left: 4px;
    top: -1px;
}

.m-list-icon-twitter li:after {
    content: "\f099";
}

.m-list-icon-heart li:after {
    content: "\f004";
}

/* ==========================================================================
   Sticky nav
   ========================================================================== */
.is-sticky {

}

.sticky-navigation.is-sticky {
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
}

.is-sticky .inner-line {
    border-top: none;
    margin: 0;
}

#sticknav {
    width: 100%;
    z-index: 9999;
}

.sticky-wrapper {
    height: auto !important;
}

/* ==========================================================================
   Isotope style
   ========================================================================== */
.option-set {
    display: inline;
    margin: 0;
    padding: 0;
}

.option-set li {
    display: inline-block;
    margin: 0 0 0 -5px;
}

.option-set li:first-child a {
    border-left: 1px solid;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-color: #BEBDBD;
}

.option-set li:last-child a {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.option-set li a {
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-top: 1px solid;
    color: #414141;
    font-size: 13px;
    padding: 7px 10px;
    border-color: #BEBDBD;
}

[data-columns*="4"] .portfolio-item {
    width: 25%;
}

[data-columns*="3"] .portfolio-item {
    width: 33.3333%;
}

.isotope-has-margin {
    margin-left: -10px;
    margin-right: -10px;
}

.isotope-has-margin .portfolio-item {
    padding: 0 7px;
}

.isotope-has-margin .portfolio-item .m-img-hover-zoom {
}

.portfolio-item {
    float: left;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
}

.portfolio-item a {
    color: #FFFFFF;
}

.portfolio-item:hover .m-caption-icon {
    -webkit-animation-name: fadeInDown;
    -moz-animation-name: fadeInDown;
    -o-animation-name: fadeInDown;
    animation-name: fadeInDown;

    animation-delay: 0s; /* W3C and Opera */
    -moz-animation-delay: 0s; /* Firefox */
    -webkit-animation-delay: 0s; /* Safari and Chrome */

    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;

    -webkit-animation-duration: 0.4s;
    -moz-animation-duration: 0.4s;
    -ms-animation-duration: 0.4s;
    -o-animation-duration: 0.4s;
    animation-duration: 0.4s;
}

.portfolio-item:hover h4, .portfolio-item:hover .cap-links {
    -webkit-animation-name: fadeInUp;
    -moz-animation-name: fadeInUp;
    -o-animation-name: fadeInUp;
    animation-name: fadeInUp;

    animation-delay: 0s; /* W3C and Opera */
    -moz-animation-delay: 0s; /* Firefox */
    -webkit-animation-delay: 0s; /* Safari and Chrome */

    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;

    -webkit-animation-duration: 0.4s;
    -moz-animation-duration: 0.4s;
    -ms-animation-duration: 0.4s;
    -o-animation-duration: 0.4s;
    animation-duration: 0.4s;
}

.option-set .selected {
}

.portfolio-item img {
    height: auto;
    width: 100%;
    display: inline-block;
    position: relative;
    z-index: 1;
}

.portfolio-item .caption-content img {
    width: auto;
}

.m-portfolio-single p, .m-portfolio-single h1, .m-portfolio-single .h1, .m-portfolio-single h2, .m-portfolio-single .h2,
.m-portfolio-single h3, .m-portfolio-single .h3, .m-portfolio-single h4, .m-portfolio-single .h4, .m-portfolio-single h5,
.m-portfolio-single .h5, .m-portfolio-single h6, .m-portfolio-single .h6 {
    width: 80%;
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
}

.screenshot-container {
    margin: 40px auto 40px;
    max-width: 1200px;
    width: 100%;
}

.emp {
    color: #2b2f3b;
    font-weight: 600;
    width: 90px;
    display: inline-block;
}

.m-has-logo img.logo {
    margin-bottom: -10px;
    width: auto;
}

.m-img-hover-zoom {
    position: relative;
    overflow: hidden;
}

.m-img-hover-zoom:hover .overlay-darker, .m-img-hover-zoom:hover .overlay-white {
    opacity: 1;
}

.overlay {
    background-color: #000000;
    color: #FFFFFF;
    -webkit-backface-visibility: hidden;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    opacity: 0;
    padding: 0;
    text-align: left;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.member-item .overlay {
    padding: 0;
}

.pi-has-logo .overlay {
    opacity: 1;
}

.pi-has-logo .tile-top {
    position: absolute;
    display: table;
    width: 100%
}

.pi-has-logo .tile-top {
    top: 0;
    height: 100%
}

.pi-has-logo .tile-inner {
    display: table-cell;
    padding: 15px;
    position: relative;
    vertical-align: middle;
}

@media (min-width: 768px) {
    .pi-has-logo .tile-top {
        top: 20px;
        -webkit-transition: top 0.3s ease-out;
        transition: top 0.3s ease-out
    }
}

@media (min-width: 992px) {
    .pi-has-logo .tile-top {
        height: 40%
    }
}

.pi-has-logo .tile-inner {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    padding: 15px
}

.pi-has-logo .tile-top {
    top: 0;
    height: 100%
}

.pi-has-logo .tile-top:after {
    content: none
}

@media (min-width: 768px) {
    .pi-has-logo .tile-top {
        -webkit-transition: top 0.3s ease-out;
        transition: top 0.3s ease-out
    }
}

@media (min-width: 768px) {
    .pi-has-logo:hover .cap-port {
        opacity: 1
    }
}

.pi-has-logo:hover .tile-top {
    top: 0;
    cursor: pointer;
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg)
}

.pi-has-logo .cap-port {
    opacity: 0.9;
    text-transform: uppercase;
    font-size: 13px;
    font-family: Lato, "Segoe UI", sans-serif;
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
    letter-spacing: 3px;
}

.pi-has-logo .cap-port p {
    margin-bottom: 0;
}

.pi-has-logo:hover .cap-port {
    opacity: 1;
}

.overlay-darker {
    background: rgba(24, 28, 32, 0.8);
}

.pi-has-logo .overlay-darker {
    background: rgba(24, 28, 32, 0.3);
}

.pi-has-logo:hover .overlay-darker {
    background: rgba(24, 28, 32, 0.8);
}

.overlay-white {
    background: rgba(255, 255, 255, 0.9);
    color: #777777;
}

.caption-centered {
    display: table;
    height: 100%;
    width: 100%;

}

.caption-centered > *:first-child {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.caption-centered .cap-links {
    display: block;
    font-size: 11px;
    letter-spacing: 1px;
    line-height: 1.8em;
    list-style: none outside none;
    margin-bottom: 10px;
    padding: 0;
    text-transform: uppercase;
}

/* Icon format */

.m-caption-icon {
    display: inline-block !important;
    width: 60px;
    height: 60px;
    margin: 15px 3px;
    border-radius: 50%;
    text-align: center;
    content: "";
    font-size: 18px;
    line-height: 54px;
    font-family: FontAwesome;
    -webkit-transition: all 0.1s ease-in-out 0s;
    -moz-transition: all 0.1s ease-in-out 0s;
    -ms-transition: all 0.1s ease-in-out 0s;
    -o-transition: all 0.1s ease-in-out 0s;
    transition: all 0.1s ease-in-out 0s;
    border: 2px solid;
    color: #FFFFFF;
}

.portfolio-post:before, .plus-icon:before {
    content: "\f067";
}

.portfolio-post-audio:before, .audio-icon:before {
    content: "\f001";
}

.portfolio-post-video:before, .video-icon:before {
    content: "\f16a";
}

.portfolio-post-image:before, .image-icon:before {
    content: "\f03e";
}

.portfolio-post-zoom:before, .zoom-icon:before {
    content: "\f002";
}

/* ==========================================================================
   Main content style
   ========================================================================== */
.block {
    margin-bottom: 30px;
}

.entry-thumbnail {
    margin-bottom: 30px;
}

/* ==========================================================================
   Progress bar style
   ========================================================================== */

.progress {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 3px;
}

.progress-bar {
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* ==========================================================================
   Blockquote style
   ========================================================================== */

blockquote {
    border: medium none;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 300;
    line-height: 28px;
    padding: 20px;
    position: relative;
}

blockquote cite {
    display: block;
    font-size: 14px;
    font-weight: 400;
}

.m-blockquote-1 {
    background: #f8f8f8;
    color: #a4a4a4;
    padding-left: 67px;
}

.m-blockquote-2 {
    background: rgba(0, 0, 0, 0);
    border-radius: 0;
    color: #a4a4a4;
    padding-bottom: 0;
    padding-top: 0;
}

.m-blockquote-3 {
    background: rgba(0, 0, 0, 0);
    border-radius: 0;
    color: #a4a4a4;
    padding-bottom: 0;
    padding-top: 0;
    border-left: 6px solid #C9C9C9;
}

/* ==========================================================================
   Testimonials & comment style
   ========================================================================== */
.testimonial-entry, .comment-entry {
    margin-left: 100px;
}

.comment-entry p:last-child {
    margin-bottom: 0;
}

.comment-entry {
    background: #EFEFEF;
    border-radius: 3px;
    margin-bottom: 15px;
    margin-top: 16px;
    padding: 15px 20px 19px;
    position: relative;
}

.depth {
    margin-left: 100px;
    margin-top: 0;
}

.left-arrow {
    border-bottom: 8px solid rgba(0, 0, 0, 0);
    border-right: 8px solid #EFEFEF;
    border-top: 8px solid rgba(0, 0, 0, 0);
    height: 0;
    left: -7px;
    position: absolute;
    top: 28px;
    width: 0;
}

.testimonials-box .testimonial-entry {
    background: #dedede;
    color: #ffffff;
    margin: 0;
    padding: 56px 21px 37px;
    position: relative;
}

.testimonials-box.owl-carousel .item {
    margin: 0;
}

.testimonials-box .testimonial-entry:before {
    color: #ffffff;
    content: "“";
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 91px;
    line-height: normal;
    position: absolute;
    top: 0;
}

.testimonials {
    margin-bottom: 40px;
    margin-top: 40px;
}

.testimonials-box .testimonial-item {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    overflow: hidden;
    margin: 1px 1px 15px;
    padding-bottom: 20px;
    border: 1px solid #e5eaea;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.03);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.03);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.03);
}

.testimonials-box .m-icon-medium {
    margin: -40px 0 15px -40px;
    position: relative;
    left: 50%;
}

.testimonials-has-border {
    margin-top: 0;
}

.testimonials-has-border .testimonial-item {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 1px 1px 15px;
    padding: 20px 44px;
    background: #FAFAFA;
}

.testimonials-has-border .testimonial-entry {
    margin-left: 0;
    position: relative;
    font-weight: 300;
    font-size: 24px;
}

.testimonials-has-border .testimonial-entry:before {
    content: '“';
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 246px;
    position: absolute;
    top: -51px;
    left: -92px;
    line-height: normal;
    background: linear-gradient(0deg, rgba(78,221,213,0.77) 0%, rgba(152,244,124,0.68) 98%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    height: 140px;
}

.testimonials-has-border .testimonial-entry:after {
    content: '”';
    font-size: 20px;
    font-family: Georgia, "Times New Roman", Times, serif;
}

.owl-carousel .owl-item {
    float: left;
}

.m-section-parallax .testimonial-item {
    border: none;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.m-section-parallax {
    color: #FFFFFF;
}

.m-section-parallax .testimonials-has-border .testimonial-entry {
    color: #FFFFFF;
}

.m-section-parallax h1, .m-section-parallax .h1, .m-section-parallax h2, .m-section-parallax .h2, .m-section-parallax h3, .m-section-parallax .h3, .m-section-parallax h4, .m-section-parallax .h4, .m-section-parallax h5, .m-section-parallax .h5, .m-section-parallax h6, .m-section-parallax .h6 {
    color: #FFFFFF;
}

/* ==========================================================================
   Split style
   ========================================================================== */

.m-section-split {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.m-split-left, .m-split-right {
    width: 50%;
    text-align: left;
    position: relative;
}

.m-split-left .split-overlay, .m-split-right .split-overlay {
    -webkit-transition: background-color .3s ease-in;
    -moz-transition: background-color .3s ease-in;
    transition: background-color .3s ease-in;
}

.m-split-right {
    text-align: right;
}

.m-section-split .content {
    padding: 125px 50px;
    position: relative;
    z-index: 2;
}

.m-split-left:hover .split-overlay, .m-split-right:hover .split-overlay {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
}

.split-overlay {
    background: rgba(0, 0, 0, 0.5);
}

/* ==========================================================================
   Clients style
   ========================================================================== */
.clients-grid {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.clients-grid li {
    float: left;
    position: relative;
    width: 20%;
    margin: 0;
}

body:not(.device-touch) .clients-grid li a {
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease
}

.clients-grid li a, .clients-grid li img {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.cl-has-bg li a {
    background: #f2f2f2;
    margin: 1px;
    padding: 15px 0;
}

.cl-has-border li {
    padding: 15px 0;
}

.cl-has-border li:after, .clients-grid li:before {
    content: '';
    position: absolute;
}

.cl-has-border li:before {
    height: 100%;
    top: 0;
    left: -1px;
    border-left: 1px solid #E2E2E2;
}

.cl-has-border li:after {
    width: 100%;
    height: 0;
    top: auto;
    left: 0;
    bottom: -1px;
    border-bottom: 1px solid #E2E2E2;
}

.m-section-dark .cl-has-border li:before {
    border-left: 1px solid rgba(255, 255, 255, 0.09);

}

.m-section-dark .cl-has-border li:after {
    border-bottom: 1px solid rgba(255, 255, 255, 0.09);
}

/* ==========================================================================
   Page navigation style
   ========================================================================== */

.pagenav ul {
    list-style: outside none none;
    padding-left: 0;
}

.pagenav li {
    display: inline-block;
}

.pagenav a {
    display: inline-block;
    padding: 6px 10px 6px;
    border: 1px solid transparent;
    line-height: 16px;
    font-size: 14px;
    vertical-align: middle;
    ountline: none;
    cursor: pointer;
    white-space: normal;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    transition: all 0.2s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    background: #f4f6f6;
    color: #777777;
}

.pagenav a.active {
    color: #FFFFFF;
}

.nav-button-wrapper {
    display: table;
    width: 100%;
}

.prev-post, .next-post {
    display: table-cell;
    font-weight: 400;
    line-height: 1.5;
    padding: 1.125em 3.125em;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 50%;
}

.prev-post {
    text-align: right;
}

.next-post {
    text-align: left;
}

.next-post:before {
    content: "\f105";
    right: 0;

}

.prev-post:before {
    content: "\f104";
    left: 0;
}

.nav-button-wrapper a.next-post:before, .nav-button-wrapper a.prev-post:before {
    font-family: fontawesome;
    position: absolute;
    font-size: 22px;
    line-height: normal;
    top: 35%;
    transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -webkit-transition: all 0.1s ease-in;
}

.nav-button-wrapper a.prev-post:hover:before {
    left: 20px;
}

.nav-button-wrapper a.next-post:hover:before {
    right: 20px;
}

.v-line-50:before {
    background: none repeat scroll 0 0 #DDDDDD;
    content: "";
    display: block;
    height: 100%;
    left: 50%;
    position: absolute;
    width: 1px;
}

/* ==========================================================================
   Our process style
   ========================================================================== */
.process-item {
    display: table;
    height: 100%;
    width: 100%;
}

.process-number {
    font-size: 84px;
    font-weight: 300;
    line-height: 0.8em;
    border-right: 2px solid #797979;
}

.process-number, .process-name, .process-desc {
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    padding: 0 20px;
}

/* ==========================================================================
   Carousel & slider style
   ========================================================================== */
.grey-animate img {
    filter: gray;
    -webkit-filter: grayscale(1);
    opacity: 0.6;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}

.grey-animate img:hover {
    filter: none;
    -webkit-filter: grayscale(0);
    opacity: 1;
}

.owl-pagination {
    text-align: center;
}

.owl-theme .owl-controls .owl-page {
    display: inline-block;
}

.owl-theme .owl-controls .owl-page span {
    border: 1px solid #dedede;
    border-radius: 20px;
    display: block;
    height: 10px;
    margin: 2px;
    width: 10px;
}

.owl-theme .owl-controls .owl-page.active span {
    background-color: #dedede;
}

.owl-carousel .owl-wrapper {
    /* margin: 0 -10px; */
}

.owl-carousel .item {
    margin: 0 10px;
}

/* ==========================================================================
   Fact counter style
   ========================================================================== */

.counter-count {
    margin-bottom: 5px;
}

.counter-count-big {
    font-size: 66px;
    font-weight: 300;
}

/* ==========================================================================
   Grid style
   ========================================================================== */

/* Grid 2 */
.two-col {
    margin-left: -2%;
}

.two-col li {
    display: inline-block;
    margin-left: 2%;
    vertical-align: top;
    width: 47%;
}

/* Show Grid */
div.show-grid [class*="col-md-"] span.show-grid-block {
    background-color: #EEE;
    line-height: 40px;
    border-radius: 3px;
    min-height: 40px;
    text-align: center;
    border: 1px solid #FFF;
    display: block;
}

.show-grid {
    margin-bottom: 20px;
    margin-top: 10px;
}

/* ==========================================================================
   News style
   ========================================================================== */

.sidebar .tab-pane.latest-news .entry-title {
    margin: 0;
}

.comment-title {
    font-weight: 600;
    font-size: 14px;
}

/* ==========================================================================
   News footer style
   ========================================================================== */

.date-info {
    background: #333333;
    color: #ffffff;
    float: left;
    margin-right: 15px;
    padding: 0;
    text-align: center;
    width: 46px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    overflow: hidden;
}

.latest-news > li {
    margin-bottom: 15px;
    overflow: auto;
}

.latest-news p {
    margin-bottom: 0;
}

.news-desc {
    margin-left: 63px;
}

.postlist p:last-child {
    margin-bottom: 0;
}

.postlist-blog-small .overlay {
    padding: 0;
}

.postlist-blog-small .m-caption-icon {
    margin: 0 3px;
}

.day {
    display: block;
    padding: 7px 0;
    text-align: center;
}

.month {
    display: block;
    padding: 6px 0;
}

/* ==========================================================================
   List style
   ========================================================================== */

.m-list-dashed > li, .m-list-solid > li {
    margin: 0;
    padding-bottom: 9px;
    padding-top: 9px;
    position: relative;
    overflow: auto;
}

.m-section-white .m-list-dashed > li {
    border-bottom: 1px dashed #dedede;
}

.m-section-white .m-list-dashed li:last-child {
    border-bottom: none;
}

.m-section-white .m-list-solid > li {
    border-bottom: 1px solid #eeeeee;
}

.m-section-white .m-list-solid li:last-child, .m-section-white .m-list-dashed li:last-child {
    border-bottom: none;
}

.m-list-icon li {
    position: relative;
    padding-left: 16px;
}

.m-list-icon.caret-right li:after {
    display: block;
    font-family: FontAwesome;
    font-size: 14px;
    left: 0;
    position: absolute;
    top: 1px;
}

.m-list-icon.caret-right li:after {
    content: "\f0da";
}

.m-list-big-margin li {
    margin: 18px 0;
}

.m-list-big-margin li:first-child {
    margin-top: 0;
}

.m-list-big-margin li:last-child {
    margin-bottom: 0;
}

/* ==========================================================================
   Divider style
   ========================================================================== */
hr {
    height: 0;
    border: 0;
    margin: 25px 0;
    overflow: hidden;
    background: transparent !important;
}

hr {
    border-top: 1px solid rgba(0, 0, 0, 0);
}

hr {
    border-color: #E5E5E5;
}

.m-section-dark hr {
    border-color: #5E5E5E;
}

.m-section-grey hr {
    border-color: #DFDFDF;
}

.m-section-base hr {
    border-color: rgba(255, 255, 255, 0.45);
}

hr.m-divider-solid-5 {
    margin: 5px 0;
}

hr.m-divider-solid-10 {
    margin: 10px 0;
}

hr.m-divider-solid-15 {
    margin: 15px 0;
}

hr.m-divider-solid-20 {
    margin: 20px 0;
}

hr.m-divider-solid-25 {
    margin: 25px 0;
}

hr.m-divider-solid-30 {
    margin: 30px 0;
}

hr.m-divider-solid-35 {
    margin: 35px 0;
}

hr.m-divider-solid-40 {
    margin: 40px 0;
}

hr.m-divider-dashed-10 {
    margin: 10px 0;
    border-style: dashed;
}

hr.m-divider-dashed-15 {
    margin: 15px 0;
    border-style: dashed;
}

hr.m-divider-dashed-20 {
    margin: 20px 0;
    border-style: dashed;
}

hr.m-divider-dashed-25 {
    margin: 25px 0;
    border-style: dashed;
}

hr.m-divider-dashed-30 {
    margin: 30px 0;
    border-style: dashed;
}

hr.m-divider-dashed-35 {
    margin: 35px 0;
    border-style: dashed;
}

hr.m-divider-dotted-10 {
    margin: 10px 0;
    border-style: dotted;
}

hr.m-divider-dotted-15 {
    margin: 15px 0;
    border-style: dotted;
}

hr.m-divider-dotted-20 {
    margin: 20px 0;
    border-style: dotted;
}

hr.m-divider-dotted-25 {
    margin: 25px 0;
    border-style: dotted;
}

hr.m-divider-margin-5 {
    margin: 2px 0;
    border: none;
}

hr.m-divider-margin-10 {
    margin: 5px 0;
    border: none;
}

hr.m-divider-margin-15 {
    margin: 7px 0;
    border: none;
}

hr.m-divider-margin-20 {
    margin: 10px 0;
    border: none;
}

hr.m-divider-margin-30 {
    margin: 15px 0;
    border: none;
}

hr.m-divider-margin-40 {
    margin: 20px 0;
    border: none;
}

hr.m-divider-margin-50 {
    margin: 25px 0;
    border: none;
}

hr.m-divider-margin-60 {
    margin: 30px 0;
    border: none;
}

hr.m-divider-margin-70 {
    margin: 35px 0;
    border: none;
}

hr.m-divider-margin-80 {
    margin: 40px 0;
    border: none;
}

hr.m-divider-margin-90 {
    margin: 45px 0;
    border: none;
}

hr.m-divider-margin-100 {
    margin: 50px 0;
    border: none;
}

/* ==========================================================================
   Form style
   ========================================================================== */
label {
    font-weight: 600;
}

.form-control, .form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-control:focus {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    background: #fcfcfc;
}

.form-control {
    background: #FBFBFB;
    border-color: #cfdadd;
    border-radius: 3px;
    line-height: 1.46857;
    height: auto;
    padding: 10px 12px;
}

.form-outline {
    margin-top: 18px;
    position: relative;
}

.form-control:focus {
    border-color: #333333;
}

.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline {
    color: #6f9a37;
}

.has-success .form-control {
    border-color: #6f9a37;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.has-success .form-control:focus {
    border-color: #2b542c;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    background: #fcfcfc;
}

.has-success .input-group-addon {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #3c763d;
}

.has-success .form-control-feedback {
    color: #6f9a37;
}

.has-warning .help-block,
.has-warning .control-label,
.has-warning .radio,
.has-warning .checkbox,
.has-warning .radio-inline,
.has-warning .checkbox-inline {
    color: #f1c40f;
}

.has-warning .form-control {
    border-color: #f1c40f;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.has-warning .form-control:focus {
    border-color: #f1c40f;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    background: #fcfcfc;
}

.has-warning .input-group-addon {
    color: #f1c40f;
    background-color: #fcf8e3;
    border-color: #8a6d3b;
}

.form-control-feedback {
    line-height: 40px;
}

.has-warning .form-control-feedback {
    color: #f1c40f;
}

.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline {
    color: #da3618;
}

.has-error .form-control {
    border-color: #da3618;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.has-error .form-control:focus {
    border-color: #da3618;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    background: #fcfcfc;
}

.has-error .input-group-addon {
    color: #da3618;
    background-color: #da3618;
    border-color: #da3618;
}

.has-error .form-control-feedback {
    color: #da3618;
}

.form-control:-moz-placeholder {
    color: #afb8bb;
    -webkit-transition: all 0.1s ease-in-out 0s;
    -moz-transition: all 0.1s ease-in-out 0s;
    -ms-transition: all 0.1s ease-in-out 0s;
    -o-transition: all 0.1s ease-in-out 0s;
    transition: all 0.1s ease-in-out 0s;
}

.form-control::-moz-placeholder {
    color: #afb8bb;
    -webkit-transition: all 0.1s ease-in-out 0s;
    -moz-transition: all 0.1s ease-in-out 0s;
    -ms-transition: all 0.1s ease-in-out 0s;
    -o-transition: all 0.1s ease-in-out 0s;
    transition: all 0.1s ease-in-out 0s;
}

.form-control:-ms-input-placeholder {
    color: #afb8bb;
    -webkit-transition: all 0.1s ease-in-out 0s;
    -moz-transition: all 0.1s ease-in-out 0s;
    -ms-transition: all 0.1s ease-in-out 0s;
    -o-transition: all 0.1s ease-in-out 0s;
    transition: all 0.1s ease-in-out 0s;
}

.form-control::-webkit-input-placeholder {
    color: #afb8bb;
    -webkit-transition: all 0.1s ease-in-out 0s;
    -moz-transition: all 0.1s ease-in-out 0s;
    -ms-transition: all 0.1s ease-in-out 0s;
    -o-transition: all 0.1s ease-in-out 0s;
    transition: all 0.1s ease-in-out 0s;
}

.form-control:hover:-moz-placeholder {
    color: #afb8bb;
    -webkit-transition: all 0.1s ease-in-out 0s;
    -moz-transition: all 0.1s ease-in-out 0s;
    -ms-transition: all 0.1s ease-in-out 0s;
    -o-transition: all 0.1s ease-in-out 0s;
    transition: all 0.1s ease-in-out 0s;
}

.form-control:hover::-moz-placeholder {
    color: #afb8bb;
    -webkit-transition: all 0.1s ease-in-out 0s;
    -moz-transition: all 0.1s ease-in-out 0s;
    -ms-transition: all 0.1s ease-in-out 0s;
    -o-transition: all 0.1s ease-in-out 0s;
    transition: all 0.1s ease-in-out 0s;
}

.form-control:hover:-ms-input-placeholder {
    color: #afb8bb;
    -webkit-transition: all 0.1s ease-in-out 0s;
    -moz-transition: all 0.1s ease-in-out 0s;
    -ms-transition: all 0.1s ease-in-out 0s;
    -o-transition: all 0.1s ease-in-out 0s;
    transition: all 0.1s ease-in-out 0s;
}

.form-control:hover::-webkit-input-placeholder {
    color: loafb8bb;
    -webkit-transition: all 0.1s ease-in-out 0s;
    -moz-transition: all 0.1s ease-in-out 0s;
    -ms-transition: all 0.1s ease-in-out 0s;
    -o-transition: all 0.1s ease-in-out 0s;
    transition: all 0.1s ease-in-out 0s;
}

.form-outline .form-control {
    background: transparent;
    border-color: rgba(255, 255, 255, 0.5);
}

.form-outline .btn {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: none;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    line-height: 1.46857;
    background: transparent;
    padding: 10px 17px;
}

.form-outline .btn:hover {
    background: transparent;
    border-color: rgba(255, 255, 255, 0.5);
    border-left: none;
    color: rgba(255, 255, 255, 0.3);
}

.form-outline .form-control:focus {
    background: transparent;
    border-color: rgba(255, 255, 255, 0.7);
    -webkit-box-shadow: none;
    box-shadow: none;
    background: none;
}

/* ==========================================================================
   Photostream style
   ========================================================================== */
.masonry {
    /* Masonry container */
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
    -moz-column-gap: 1em;
    -webkit-column-gap: 1em;
    column-gap: 1em;
}

.masonry .placeholder-img {
    /* Masonry bricks or child elements */
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
}

/* ==========================================================================
   Tweets style
   ========================================================================== */
.tweet-date {
    color: #525050;
    font-size: 11px;
    font-style: italic;
}

/* ==========================================================================
   Footer style
   ========================================================================== */

.footer-bottom {
    background: #262626;
}

.footer-bottom nav ul li {
    border-left: 1px solid inherit;
    display: inline-block;
    line-height: 12px;
    margin: 0;
    padding: 0 8px;
}

.footer-bottom nav ul li:first-child {
    border: none;
}

/* ==========================================================================
   Our team style
   ========================================================================== */
.member-item:hover .social-icons {
    -webkit-animation-name: fadeInDown;
    -moz-animation-name: fadeInDown;
    -o-animation-name: fadeInDown;
    animation-name: fadeInDown;

    animation-delay: 0s; /* W3C and Opera */
    -moz-animation-delay: 0s; /* Firefox */
    -webkit-animation-delay: 0s; /* Safari and Chrome */

    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;

    -webkit-animation-duration: 0.4s;
    -moz-animation-duration: 0.4s;
    -ms-animation-duration: 0.4s;
    -o-animation-duration: 0.4s;
    animation-duration: 0.4s;
}

.member-item:hover .caption-content > p {
    -webkit-animation-name: fadeInUp;
    -moz-animation-name: fadeInUp;
    -o-animation-name: fadeInUp;
    animation-name: fadeInUp;

    animation-delay: 0s; /* W3C and Opera */
    -moz-animation-delay: 0s; /* Firefox */
    -webkit-animation-delay: 0s; /* Safari and Chrome */

    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;

    -webkit-animation-duration: 0.4s;
    -moz-animation-duration: 0.4s;
    -ms-animation-duration: 0.4s;
    -o-animation-duration: 0.4s;
    animation-duration: 0.4s;
}

/* ==========================================================================
   Breadcrumb & share style
   ========================================================================== */
.breadcrumb {
    font-size: 11px;
    line-height: 1.3em;
    background: transparent;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding: 20px 0 10px 0;
    margin: 0;
    color: #BEBEBE;
}

.breadcrumb a {
    color: #787676;
}

.breadcrumb a:hover {
    color: #BEBEBE;
}

.breadcrumb ul {
    display: inline;
    margin: 0;
    padding: 0;
}

.breadcrumb ul li {
    display: inline;
}

.breadcrumb li:after {
    content: "\f105";
    font-family: FontAwesome;
    margin: 0 5px 0 7px;
}

.breadcrumb li:last-child:after {
    display: none;
}

.share-this {
    padding-top: 14px;
}

/* ==========================================================================
   Blog style
   ========================================================================== */

.meta-info {
    display: block;
    font-size: 11px;
    letter-spacing: 1px;
    line-height: 1.8em;
    list-style: outside none none;
    margin-bottom: 10px;
    padding: 0;
    text-transform: uppercase;
    color: #b5b8bf;
}

.meta-info li {
    display: inline-block;
    margin: 0 5px 0 0;
}

.meta-info a {
    color: #b5b8bf;
}

/* ==========================================================================
   Pricing tables style
   ========================================================================== */
.plans {
    margin: 0 auto;
    padding: 30px 0;
}

.plan {
    background: #2e3031;
    color: #ffffff;
    display: inline-block;
    margin: 4px;
    vertical-align: middle;
    width: 285px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    overflow: hidden;
}

.plans-outline .plan {
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #d2d2d2;
    color: #595959;
}

.features {
    padding: 0;
}

#pricing-four .plan {
    width: 264px;
}

.m-section-white .plan-header {
    color: #FFFFFF;
}

.m-section-white .plans-outline .plan-header, .plans-outline .price-wrap .label {
    color: #595959;
}

.plan-header {
    border-bottom: 1px solid #494b4c;
    font-weight: 400;
    margin: 0;
    padding: 35px 0;
}

.plans-outline .plan-header {
    border-bottom: 1px solid #d2d2d2;
}

.price-wrap .price {
    display: block;
    font-size: 100px;
    font-weight: 700;
    letter-spacing: -3px;
    line-height: 69px;
    margin-bottom: 12px;
    margin-top: 50px;
}

.price-wrap .label {
    display: block;
    font-size: 23px;
    margin-bottom: 50px;
    background: transparent;
}

.plan .features .feature {
    background: #363839;
    display: block;
    font-size: 16px;
    height: 50px;
    line-height: 50px;
    margin-bottom: 1px;
}

.plans-outline .plan .features .feature {
    background: #ffffff;
    margin: 0;
    border-top: 1px solid #d2d2d2;
}

.plans-outline .plan.highlight .plan-header {
    background: #ffffff;
}

.plans-outline .plan .features .feature:last-child {
    border-bottom: 1px solid #d2d2d2;
}

.plan.highlight .plan-header {
    padding: 57px 0;
}

.order {
    margin: 25px 0;
}

footer.bottom-front {
    bottom: 0;
    position: fixed;
}

/* ==========================================================================
   Timeline style
   ========================================================================== */

.timeline {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}

.timeline:after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    z-index: 0;
    margin-left: -1px;
    width: 1px;
}

.timeline:after {
    background: #E7E7E7;
}

.timeline-item {
    position: relative;
    z-index: 2;
    width: 50%;
    margin-bottom: 20px;
}

.timeline-item-left {
    float: left;
    clear: both;
    padding-right: 30px;
    margin-top: 20px;
}

.timeline-item-left > div {
    clear: right;
}

.timeline-item-right {
    clear: right;
    float: right;
    margin-top: 80px;
    padding-left: 30px;
}

.timeline-item-date {
    font-weight: 700;
    margin-bottom: 14px;
    position: relative;
    clear: both;
    display: inline-block;
    padding: 20px 30px 0;
}

.timeline-item-date:before {
    background: #ffffff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    top: 25px;
}

.timeline-item-left .timeline-item-date:before {
    height: 12px;
    right: -36px;
    width: 12px;
}

.timeline-item-left .timeline-item-date:before {
    border: 3px solid #ffffff;
    background: #b9b9b9;
    -moz-box-shadow: 0 0 0 1px #ffffff;
    -webkit-box-shadow: 0 0 0 1px #ffffff;
    box-shadow: 0 0 0 1px #b9b9b9;
}

.timeline-item-right .timeline-item-date:before {
    border: 3px solid #ffffff;
    background: #b9b9b9;
    -moz-box-shadow: 0 0 0 1px #ffffff;
    -webkit-box-shadow: 0 0 0 1px #ffffff;
    box-shadow: 0 0 0 1px #b9b9b9;
}

.timeline-item-right .timeline-item-date:before {
    height: 12px;
    left: -36px;
    width: 12px;
}

.timeline-item-left .timeline-item-date {
    float: right;
}

.timeline-item-content {
    background: #ffffff;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

.timeline-item-info {
    padding: 0 30px 30px;
}

.timeline-item-info p:last-child {
    margin-bottom: 0;
}

.timeline-item-date:after, .timeline-item-date:before {
    content: '';
    display: block;
    position: absolute;
}

.timeline-item-left .timeline-item-date:after {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #ffffff;
    border-style: solid;
    border-width: 12px 7px 12px 16px;
    right: -18px;
}

.timeline-item-right .timeline-item-date:after {
    border-color: rgba(0, 0, 0, 0) #ffffff rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 12px 16px 12px 7px;
    left: -18px;
}

.timeline-item-date:after {
    top: 20px;
}

/* Scroll to top */
.scroll-top {
    background: #000000;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    bottom: 26px;
    color: #ffffff !important;
    display: none;
    font-size: 34px;
    height: 52px;
    line-height: 43px;
    opacity: 0.5;
    position: fixed;
    right: 26px;
    text-align: center;
    transition: opacity 0.3s ease 0s;
    width: 52px;
    z-index: 1050;
}

/* ==========================================================================
   Login & register form style
   ========================================================================== */

.login-form {
    margin: auto auto 10px;
    width: 90%;
    padding: 0;
    overflow: hidden;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    max-width: 480px;
    color: #777;
}

.login-form-2 {
    margin: auto auto 10px;
    width: 100%;
    padding: 0;
    overflow: hidden;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    max-width: 480px;
    background: #f4f4f4;
    color: #777;

}

.login-form-2 .form-control {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-bottom: 0;
    border: none;
    padding: 13px 12px;
}

.login-form-2 .form-group {
    margin-bottom: 0;
}

.form-wrap-2 {
    padding: 30px;
}

.login-form header {
    position: relative;
    background: #24282e;
    text-align: center;
    padding: 20px 0 25px;
}

.form-group.half-width {
    display: inline-block;
    width: 50%;
    vertical-align: bottom;
}

.form-group.top {
    border-top: 1px solid #d6d6d6;
}

.form-group.bottom {
    border-bottom: 1px solid #d6d6d6;
}

.form-group.left {
    float: left;
    border-right: 1px solid #d6d6d6;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus {
    outline-color: transparent;
    outline-style: none;
}

.login-form header:after {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -8px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #24282e;
}

.form-wrap {
    padding: 30px;
    background: #ffffff;
}

.sub-login-form {
    margin: auto;
    width: 80%;
    max-width: 480px;
}

/* ==========================================================================
   Vertical middle style
   ========================================================================== */

.row-same-height {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.col-xs-height {
    display: table-cell;
    float: none !important;
}

.col-middle {
    vertical-align: middle;
}

/*
 * Row with equal height columns
 * --------------------------------------------------
 */
.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}